$font-stack: "Lucida Console", Monaco, monospace;
$light-color: #cacaca;
$dark-color: #529aa1;

body {
  color: $light-color;
  background-color: $dark-color;
  overflow: hidden;
  margin: 0px;
  font-family: monospace;
}

.surface{
  overflow: hidden;
  position: absolute;
}

#surface0 {
  //border-right: 5px solid #cacaca;
  //border-bottom: 5px solid #cacaca;
  left:  0px;
  right: 0px;
  bottom:0px;
  top: 0px;
}

#surface1 {
  //border-right: 5px solid #cacaca;
  //border-bottom: 5px solid #cacaca;
  left:  auto;
  right: 0px;
  bottom: 0px;
  top: 0px;
  width: 0px;
}

#vsplitter {
  width: 5px;
  background-color: #cacaca;
  cursor: ew-resize;
  position: absolute;
  right: 0;
  left: auto;
  top: 0px;
  bottom:0px;
}
#hsplitter {
  height: 5px;
  background-color: #cacaca;
  cursor: ns-resize;
  position: absolute;
  right: 90px;
  left: 90px;
  top: auto;
  bottom:0px;
}

#surface2 {
  //border-right: 5px solid #cacaca;
  //border-bottom: 5px solid #cacaca;
  left:  auto;
  right: 0px;
  bottom:0px;
  top: auto;
  width: 0px;
  height: 0px;
}

#surface3 {
  //border-bottom: 5px solid #cacaca;
  left:  0px;
  right: auto;
  bottom:0px;
  top: auto;
  width: 0px;
}

#controlPanel {
  position: absolute;
  left: 0px;
  top: 0px;
  bottom: 0px;
  width: 90px;
}

#elementbox {
  position: absolute;
  left: 5px;
  top: 5px;
  bottom: 5px;
  width: 100px;
  background-color: rgba(#ffffff, 0);
}

.buttonBar {
  border-left: 5px solid #111;
  border-right: 5px solid #111;
}

#expControl {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 0px;
}
#modelControl {
  position: absolute;
  left: 1px;
  bottom: 0px;
}

#eqtnEditor {
  position: absolute;
  top: 80px;
  right: 28px;
  bottom: 15px;
  background: black;
  opacity: 0.74;
  width: 232px;
  display: none;
}

#eqtnEditor textarea {
  position: realtive;
  width: 100%;
  height: 100%;
  resize: none;
  color: #cacaca;
  background: #111111;
  text-align: center;
  font-family: monospace;
  font-size: 115%;
  padding: 5px;
  line-height: 174%;
}

#diagnosticsPanel {
  position: absolute;
  bottom: 0px;
  height: 0px;
  left: 90px;
  right: 90px;
  opacity: 0.74;
  overflow: auto;
}

#diagText {
  position: realtive;
  width: 100%;
  height: 100%;
  resize: none;
  color: #cacaca;
  background: #111111;
  text-align: left;
  font-family: monospace;
  font-size: 95%;
  padding: 5px;
  overflow: auto;
  //line-height: 174%;
}

button {
  font: 11px 'monospace', monospace;
  background: #1a1a1a;
  line-height: 27px;
  color: white;
  border: none;
  border-bottom: 3px solid #1ed36f;
  border-left: 1px solid #333;
  border-right: 1px solid #333;
  float:left;
}

button:hover {
  background: #303030
}

button:active {
  color: #1ed36f;
  background: #111;
}

button:focus { outline: 0; }

#ajaxLoading {
  position: absolute;
  right: 5px;
  top: 5px;
  display: none;
}

.dg {
  font-family: monospace !important;
}

.dg .c {
  width: auto !important;
  overflow: hidden !important;
  float: none !important;
}

.dg .property-name {
  width: auto !important;
  margin-right: 10px !important;
  font-family: monospace;
}

.dg .c input[type=text] {
  padding-left: 5px !important;
  padding-right: 0px !important;
  box-sizing: border-box !important;
  font-family: monospace;
  font-size: 1em;
}
