$font-stack: "Lucida Console", Monaco, monospace;
$light-color: #cacaca;
$dark-color: #529aa1;

body {
  color: $light-color;
  background-color: $dark-color;
  overflow: hidden;
}


#surface {
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}

#elementbox {
  position: absolute;
  left: 5px;
  top: 5px;
  bottom: 5px;
  width: 100px;
  background-color: rgba(#ffffff, 0);
}

#expControl {
  position: absolute;
  left: 50%;
  bottom: 0px;
  top: auto;
  #padding-bottom: 5px;
  padding-top: 5px;
  //background: #111;
  border-left: 5px solid #111;
  border-right: 5px solid #111;
}

#eqtnEditor {
  position: absolute;
  top: 110px;
  right: 25px;
  bottom: 15px;
  background: black;
  opacity: 0.74;
  width: 232px;
  display: none;
}

#eqtnEditor textarea {
  position: realtive;
  width: 100%;
  height: 100%;
  resize: none;
  color: #cacaca;
  background: #111111;
  text-align: center;
  font-family: monospace;
  padding: 5px;
  line-height: 174%;
}

button {
  font: 11px 'Lucida Grande', sans-serif;
  background: #1a1a1a;
  line-height: 27px;
  color: white;
  border: none;
  border-bottom: 3px solid #1ed36f;
  border-left: 1px solid #333;
  border-right: 1px solid #333;
  float:left;
}

button:hover {
  background: #303030
}

button:active {
  color: #1ed36f;
  background: #111;
}

button:focus { outline: 0; }

