html {
  height: 100%;
}

body {
  background-color: #22362C;
  width: 100%;
  margin: 0;
  height: 100%;
}

ul {
  list-style-type: none;
  padding: 0;
}

input {
  font-size: 110%;
  margin: 5px;
  padding: 3px;
  background-color: #cacaca;
  text-align: center;
  border-radius: 3px;
  border-style: none;
}

h1 {
  color: #cacaca;
  font-family: "trajan-sans-pro";
  font-weight: 200;
  font-size: 47px;
  text-align: center;
}

#logo_div {
  background-color: #cacaca;
  text-align: center;
  margin: 0;
}

#logo {

}

#login_btn {
  color: #272727;
}

#login_div {
  text-align: center;
  margin: 100px auto;
  width: 300px;
}

#login_form input {
  margin-left: auto;
  margin-right: auto;
  padding: 5px;
}

#user_ctrl {
  position: absolute;
  right: 10px;
  top: 50px;
}

#experiments {
  padding: 50px;
  width: 275px;
}

#new_xp {
  background-color: #cacaca;
}

.xp {
  opacity: 0.3;
  width: 250px;
  height: 25px;
  //float: left;
  text-align: center;
  border-radius: 5px;
  background-color: #7F977F;
  color: #22362C;
  font-family: "trajan-sans-pro";
  font-size: 16px;
  padding: 10px;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  word-break: break-all;
  margin-top: 10px;

}

.xp:hover {
  opacity: 0.7;
}

.exp_new_editing {
    font-size: 16px;
    cursor: text;
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
}

#messages {
  color: white;
  text-align: center;
  position: absolute;
  left: 10px;
  right: 10px;
  bottom: 10px;
}

.suplimental_info {
  font-size: 0.9em;
  color: #ababab;
}
